.aws
.cache
.config
.local
.pi
__pycache__/
*.pyc
tmp/
node_modules/
.Dockerfile.generated
.contagent-motd.generated
.contagent-default.yaml.generated
.contagent.yaml*
.hostbridge.yaml*
.hostbridge-port
.hostbridge-log
.hostbridge-state.yaml
.hostbridge-tmp/
